body {
  font-family: sans-serif;
  margin-top: 120px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.van-img {
  width: 30vw;
  height: auto;
}
